/*

AlthaiFoods 559 AlthaiFoods Shop

https://AlthaiFoods.com/tm-559-AlthaiFoods-shop

---------------------------------------------
Table of contents
------------------------------------------------
1. Typography
2. General
3. Nav
4. Hero Carousel
5. Accordion
6. Shop
7. Product
8. Carousel Hero
9. Carousel Brand
10. Services
11. Contact map
12. Footer
13. Small devices (landscape phones, 576px and up)
14. Medium devices (tablets, 768px and up)
15. Large devices (desktops, 992px and up)
16. Extra large devices (large desktops, 1200px and up)
--------------------------------------------- */


.body {
  overflow: hidden;
}


/* Typography */

* {
  transition: all 1s;
}

body,
ul,
li,
p,
a,
label,
input,
div {
  font-family: 'Roboto', sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
}

body {
  background: #fae8e882;

}

.h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px !important;
  font-weight: 200 !important;
}

.h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px !important;
  font-weight: 300;
}

.h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px !important;
}

/* General */
.logo {
  font-weight: 500 !important;
}

.text-warning {
  color: #ede861 !important;
}

.text-muted {
  color: #bcbcbc !important;
}

.text-success {
  color: #e72d14 !important;
}

.text-light {
  color: #cfd6e1 !important;
}

.bg-dark {
  background-color: #212934 !important;
}

.bg-light {
  background-color: #e9eef5 !important;
}

.bg-black {
  background-color: #1d242d !important;
}

.bg-success {
  background-color: #e72d14 !important;
}

.btn-success {
  background-color: #e72d14 !important;
  border-color: #e72d14 !important;
}

.pagination .page-link:hover {
  color: #000;
}

.pagination .page-link:hover,
.pagination .page-link.active {
  background-color: #e72d14;
  color: #fff;
}

/* Nav */
#AlthaiFoods_nav_top {
  min-height: 40px;
}

#AlthaiFoods_nav_top * {
  font-size: .9em !important;
}

#AlthaiFoods_main_nav a {
  color: #212934;
}

#AlthaiFoods_main_nav a:hover {
  color: #e72d14;
}

#AlthaiFoods_main_nav .navbar .nav-icon {
  margin-right: 20px;
}

.navbar-brand img {
  width: 250px;
}


/* Hero Carousel */
#althai-AlthaiFoods-hero-carousel {
  background: #efefef !important;
}

/* Accordion */
.AlthaiFoods-accordion a {
  color: #e72d14;
}

.AlthaiFoods-accordion a:hover {
  color: #e72d14;
}

/* Shop */
.shop-top-menu a:hover {
  color: #e72d14 !important;
}


/* Carousel Hero */
#althai-AlthaiFoods-hero-carousel .carousel-indicators li {
  margin-top: -50px;
  background-color: #e72d14;
}

#althai-AlthaiFoods-hero-carousel .carousel-control-next i,
#althai-AlthaiFoods-hero-carousel .carousel-control-prev i {
  color: #ff0000 !important;
  font-size: 2.8em !important;
}

/* Carousel Brand */
.althaifoods-os-carousel .h1 {
  font-size: .5em !important;
  color: #000 !important;
}


/* Footer */
#althaifoods-os_footer a {
  color: #dcdde1;
}

#althaifoods-os_footer a:hover {
  color: #e72d14;
}

#althaifoods-os_footer ul.footer-link-list li {
  padding-top: 10px;
}

#althaifoods-os_footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}

#althaifoods-os_footer ul.footer-icons li:hover {
  background-color: #cfd6e1;
  transition: .5s;
}

#althaifoods-os_footer ul.footer-icons li:hover i {
  color: #212934;
  transition: .5s;
}

#althaifoods-os_footer .border-light {
  border-color: #2d343f !important;
}

/*
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
*/
/* Small devices (landscape phones, 576px and up)*/
.product-wap .h3,
.product-wap li,
.product-wap i,
.product-wap p {
  font-size: 12px !important;
}

.product-wap .product-color-dot {
  width: 6px;
  height: 6px;
}


/*
contact 
*/


.contact-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center;
  position: relative;
}

.contact-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.contact-block {
  position: relative;
  z-index: 3;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact-container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.contact-section-header {
  margin-bottom: 50px;
  text-align: center;
}

.contact-section-header h2 {
  color: #FFF;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;
}

.contact-section-header p {
  color: #FFF;
}

.contact-container .row {
  display: flex;
  flwx-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #1da9c0;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: #FFF;
  font-size: 1em;
}

.contact-form {
  background-color: #fff;
  padding: 40px;
  width: 45%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus~span,
.contact-form .input-box textarea:focus~span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"] {
  width: 100%;
  background: #00bcd4;
  color: #FFF;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #00bcd4;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover {
  background: #FFF;
  color: #00bcd4;
}

@media (max-width: 991px) {
  .contact-block {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .contact-container .row {
    flex-direction: column;
  }

  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }

  .contact-form {
    width: 100%;
  }
}


/*
---------------------------------------------
Explore
---------------------------------------------
*/

#explore {
  padding-top: 90px;
  padding-bottom: 90px;
  border-bottom: 3px dotted #eee;
}

#explore .left-content {
  margin-right: 30px;
}

#explore .left-content h2 {
  font-size: 34px;
  font-weight: 700;
  color: #2a2a2a;
}

#explore .left-content span {
  font-size: 14px;
  color: #aaaaaa;
  font-weight: 500;
  display: block;
  margin-top: 25px;
}

#explore .left-content .quote {
  margin-top: 25px;
}

#explore .left-content .quote i {
  float: left;
  font-size: 32px;
  margin-right: 15px;
  margin-top: 10px;
}

#explore .left-content .quote p {
  font-style: italic;
  color: #2a2a2a;
  font-weight: 500;
}

#explore .left-content p {
  font-size: 14px;
  color: #aaaaaa;
  font-weight: 500;
  display: block;
  margin-top: 25px;
}

#explore .left-content .main-border-button a {
  color: #2a2a2a;
  border-color: #2a2a2a;
  margin-top: 35px;
}

#explore .left-content .main-border-button a:hover {
  background-color: #2a2a2a;
  color: #fff;
}

#explore img {
  width: 90%;
  overflow: hidden;
}

.pro-cats img{
  width: 150px;
  height: 150px;
  text-align: center;
}

#explore .leather {
  margin-bottom: 30px;
}

#explore .first-image {
  margin-bottom: 30px;
}

#explore .leather,
#explore .types {
  min-height: 255px;
  background-color: #f8f8f8;
  text-align: center;
  width: 100%;
}

#explore .leather h4,
#explore .types h4 {
  font-size: 24px;
  font-weight: 700;
  color: #2a2a2a;
  padding-top: 90px;
  margin-bottom: 5px;
}

#explore .leather span,
#explore .types span {
  font-size: 14px;
  font-style: italic;
  color: #aaa;
  font-weight: 500;
}

/*/*
---------------------------
gallery
---------------------------
*/

.gallery-csx{
  width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
  background: linear-gradient( orange ,rgb(245, 73, 26));
}

.gallery-csx img{
  width: calc(100% / 3);
  padding: 2vh;
  border-radius: 50px;
  margin: 2px;
}

@media (min-width: 576px) {
  .althaifoods-os-carousel .h1 {
    font-size: 1em !important;
  }


}





@media (max-width:800px) {
  .gallery-csx img{
    width: 90%;
  }
  
  
  }



/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #AlthaiFoods_main_nav .navbar-nav {
    max-width: 450px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #AlthaiFoods_main_nav .navbar-nav {
    max-width: 550px;
  }

  #althai-AlthaiFoods-hero-carousel .carousel-item {
    min-height: 30rem !important;
  }

  .product-wap .h3,
  .product-wap li,
  .product-wap i,
  .product-wap p {
    font-size: 18px !important;
  }

  .product-wap .product-color-dot {
    width: 12px;
    height: 12px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}